<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <span class="navbar">
        <a class="nav-item nav-link" routerLink="/" style="border-style:solid; border-color:black; margin:3px;"> Home </a>
        <a class="nav-item nav-link" routerLink="users" style="border-style:solid; border-color:black; margin:3px;"> Users </a>
    </span>
    <span style="float:right;"> <a class="nav-item nav-link" (click)="logout()" style="float:right; margin:3px;"> Logout </a> </span>
    <span style="float:right; margin:3px;" routerLink="users/profile/{{currentUser.userId}}">
        {{currentUser.username}}  ||
    </span>
</nav>
