<div class="container-fluid" style="background:rgb(115, 161, 247); border-style:solid;">
    <div class="row-fluid">
        <h4>Chat</h4>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                <div *ngIf = "notices">
                    <div *ngFor= "let notice of notices">
                        <tr>
                            <td colspan="1">{{notice.Description}}</td>
                        </tr>
                        <tr>
                            <td colspan="1">{{formatDate(notice.Time)}}</td>
                        </tr>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
    <div class="row-fluid">
        <form [formGroup]="messageForm" (ngSubmit)="save()" [routerLink]="''">
            <input id="descripSubmit" type="text" name="message" placeholder="Message" formControlName="Description"/>
            <button type="submit" class="btn btn-primary" [disabled]="loading" onclick="document.getElementById('descripSubmit').value = ''; document.getElementById('descripSubmit').focus();">SEND</button>
        </form>
    </div>
</div>
