<!---
<button (click)="getUsers()">Refresh</button>
<div *ngIf="users">
  <ol>
    <li *ngFor="let user of users">
        {{user.firstName}}
        {{user.lastName}}
        {{user.username}}
        {{user.description}}
    </li>
  </ol>
</div>

<form [formGroup]="createUserForm" (ngSubmit)="createUser()">
  <label>
    User:
    <input type="text" formControlName="firstName" required>
    <input type="text" formControlName="lastName" required>
    <input type="text" formControlName="username" required>
    <input type="text" formControlName="password" required>
    <input type="text" formControlName="description">
  </label>

  <button type="submit" [disabled]="!createUserForm.valid">Submit</button>
</form>

<div *ngIf="error" class="error">
  {{ error }}
</div>
--->

<h1>Hi {{currentUser.firstName}}!</h1>
<br/>

<app-games-overview></app-games-overview>