<div *ngIf="game">
    <ul class = "reviews">
        <ul class="reviews" style='list-style-type:none;'>
            <li *ngFor="let review of game.Reviews">
                <div *ngIf="review.ReviewId">
                    <button routerLink="/reviewdetail/{{review.ReviewId}}">
                        <div>User: {{review.Username}}</div>
                        <span>Rating: {{review.Rating}}</span>
                    </button>
                    <button class="delete" title="delete review" (click)="delete(review)">delete</button>
                </div>
            </li>
        </ul>
    </ul>

    <br/>
    <br/>
    <div *ngIf = "this.createdMessage">{{this.createdMessage}}</div>
    <div>
    <label>Add Review:
        <br/>
        <div>
            <label> Rating:
                <input type=number #reviewRating />
            </label>
            <label> Review:
                <input #reviewBody />
            </label>
        </div>
    </label>
    <button (click)="add(reviewRating.value,reviewBody.value); reviewRating.value=0; reviewBody.value=''" [routerLink]="''">
        Add Review
    </button>
    </div>
</div>
