<h2>Welcome to Hangman!</h2>
<figure>
  <img src="../../assets/hangmanpics/hangman0.png" id="hangmanpic" alt="hangman" style="width:40%">
  <figcaption id="hangmancaption">Let's get started.</figcaption>
</figure>
<div>
    <div><span>Question: </span>{{gamedata[rand].Question}}</div>
    <div>
      <label>Answer:
        <input type="text" id="answer" placeholder="Answer" required/>
      </label>
    </div>
    <!-- <div class="form">
      <label for="answer">Answer: </label>
      <input type="text" id="answer" class="answer">
      <input type="submit"  id="resultbutton" value="Check Answer" class="answerSubmit">
    </div> -->
    <button (click)="validate()" id="resultbutton">Check</button>
    <button (click)="getRand()" id="newqbutton">New Question</button>
    <br/>
    <p id="result"></p>
    <button (click)="newGame()" id="newgbutton">New Game</button>
    <br/>
</div>
