<div *ngIf="user != null && invaliduser == 0">
    <h3>Your Profile</h3>
    <div>
          <label>First:
            <input [(ngModel)]="user.FirstName" placeholder="FirstName"/>
          </label>
          <br/>
          <label>Last:
            <input [(ngModel)]="user.LastName" placeholder="LastName"/>
          </label>
          <br/>
          <label>Username:
            <input [(ngModel)]="user.Username" placeholder="Username"/>
          </label>
          <br/>
          <label>About You:
            <textarea [(ngModel)]="user.Description" placeholder="Description" style="padding-top: 2px; padding-bottom: 2px; max-width:500px; min-width:300px; word-wrap:normal; min-height: 5em; max-height: 50vh;"></textarea>
          </label>
          <br/>
          <label>Admin:
            <span>{{user.Admin}}</span>
          </label>
        </div>
    <div><span *ngIf="activateMessage" style="border-style:solid; background-color: forestgreen;">{{activateMessage}}</span></div>
    <button (click)="save()">save</button>
    <button (click)="goBack()">Go Back</button>
</div>

<div *ngIf="user != null && invaliduser == 1">
    <h3>{{user.Username}}'s Profile</h3>
    <div>
        <br/>
          <label>First:
            <span>{{user.FirstName}}</span>
          </label>
          <br/>
          <label>Last:
            <span>{{user.LastName}}</span>
          </label>
          <br/>
          <label>Username:
            <span>{{user.Username}}</span>
          </label>
          <br/>
          <label>About Them:
            <span>{{user.Description}}</span>
          </label>
          <br/>
          <label>Admin:
            <span>{{user.Admin}}</span>
          </label>
        </div>
    <button (click)="goBack()">Go Back</button>
</div>
